/*
	@name calendar_page
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 360px; width: 360px; height: 640px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }

#_bg__calendar_page {
	top: 0px;
	left: 0px;
	width: 360px;
	height: 640px;
	background:rgba(197.62,193.78,193.78,1);
}

#group_33 {
	top: 150px;
	left: 0px;
	width: 360px;
	height: 308px;
}
#frame_42 {
	top: 231px;
	left: 256px;
	width: 51.43px;
	height: 46px;
}
#frame_43 {
	top: 231px;
	left: 308px;
	width: 51.43px;
	height: 46px;
}
#frame_42161 {
	top: 0px;
	left: 0px;
	width: 360px;
	height: 308px;
}
#frame_8 {
	top: 0px;
	left: 106px;
	width: 148px;
	height: 44px;
}

#december__2022 {
	top: 20px;
	left: 7px;
	width: 141px;
	height: 33px;
	overflow: hidden;
	font-family: Space Grotesk;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	line-height: 24px;
	color:#111111;
}

#frame_42162 {
	top: 44px;
	left: 12px;
	width: 336px;
	height: 264px;
}
#frame_42155 {
	top: 0px;
	left: 0px;
	width: 336px;
	height: 44px;
}
#frame_1 {
	top: 0px;
	left: 0px;
	width: 48px;
	height: 44px;
}

#m {
	top: 10px;
	left: 9px;
	width: 37px;
	height: 35px;
	overflow: hidden;
	font-family: Space Grotesk;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	color:#111111;
}

#frame_2 {
	top: 0px;
	left: 48px;
	width: 48px;
	height: 44px;
}

#t {
	top: 10px;
	left: 9px;
	width: 37px;
	height: 35px;
	overflow: hidden;
	font-family: Space Grotesk;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	color:#111111;
}

#frame_3 {
	top: 0px;
	left: 96px;
	width: 48px;
	height: 44px;
}

#w {
	top: 10px;
	left: 9px;
	width: 37px;
	height: 35px;
	overflow: hidden;
	font-family: Space Grotesk;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	color:#111111;
}

#frame_4 {
	top: 0px;
	left: 144px;
	width: 48px;
	height: 44px;
}

#t_ek1 {
	top: 10px;
	left: 9px;
	width: 37px;
	height: 35px;
	overflow: hidden;
	font-family: Space Grotesk;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	color:#111111;
}

#frame_5 {
	top: 0px;
	left: 192px;
	width: 48px;
	height: 44px;
}

#f {
	top: 10px;
	left: 9px;
	width: 37px;
	height: 35px;
	overflow: hidden;
	font-family: Space Grotesk;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	color:#111111;
}

#frame_6 {
	top: 0px;
	left: 240px;
	width: 48px;
	height: 44px;
}

#s {
	top: 10px;
	left: 9px;
	width: 37px;
	height: 35px;
	overflow: hidden;
	font-family: Space Grotesk;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	color:#111111;
}

#frame_7 {
	top: 0px;
	left: 288px;
	width: 48px;
	height: 44px;
}

#s_ek1 {
	top: 8.29px;
	left: 9px;
	width: 37px;
	height: 38.43px;
	overflow: hidden;
	font-family: Space Grotesk;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	color:#111111;
}

#frame_42156 {
	top: 44px;
	left: 0px;
	width: 336px;
	height: 44px;
}
#frame_12 {
	top: 0px;
	left: 0px;
	width: 48px;
	height: 44px;
}

#_28 {
	top: 10px;
	left: 9px;
	width: 37px;
	height: 35px;
	overflow: hidden;
	font-family: Space Grotesk;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	color:#D9D9D9;
}

#frame_13 {
	top: 0px;
	left: 48px;
	width: 48px;
	height: 44px;
}

#_29 {
	top: 10px;
	left: 9px;
	width: 37px;
	height: 35px;
	overflow: hidden;
	font-family: Space Grotesk;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	color:#D9D9D9;
}

#frame_14 {
	top: 0px;
	left: 96px;
	width: 48px;
	height: 44px;
}

#_30 {
	top: 10px;
	left: 9px;
	width: 37px;
	height: 35px;
	overflow: hidden;
	font-family: Space Grotesk;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	color:#D9D9D9;
}

#frame_15 {
	top: 0px;
	left: 144px;
	width: 48px;
	height: 44px;
}

#_1 {
	top: 8.91px;
	left: 9px;
	width: 37px;
	height: 37.18px;
	overflow: hidden;
	font-family: Space Grotesk;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	color:#838383;
}

#frame_16 {
	top: 0px;
	left: 192px;
	width: 48px;
	height: 44px;
}

#_2 {
	top: 8.91px;
	left: 9px;
	width: 37px;
	height: 37.18px;
	overflow: hidden;
	font-family: Space Grotesk;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	color:#838383;
}

#frame_17 {
	top: 0px;
	left: 240px;
	width: 48px;
	height: 44px;
}

#_3 {
	top: 8.91px;
	left: 9px;
	width: 37px;
	height: 37.18px;
	overflow: hidden;
	font-family: Space Grotesk;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	color:#838383;
}

#frame_18 {
	top: 0px;
	left: 288px;
	width: 48px;
	height: 44px;
}

#_4 {
	top: 8.91px;
	left: 9px;
	width: 37px;
	height: 37.18px;
	overflow: hidden;
	font-family: Space Grotesk;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	color:#838383;
}

#frame_42157 {
	top: 88px;
	left: 0px;
	width: 336px;
	height: 44px;
}
#frame_16_ek1 {
	top: 0px;
	left: 0px;
	width: 48px;
	height: 44px;
}

#_5 {
	top: 10px;
	left: 9px;
	width: 37px;
	height: 35px;
	overflow: hidden;
	font-family: Space Grotesk;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	color:#838383;
}

#frame_17_ek1 {
	top: 0px;
	left: 48px;
	width: 48px;
	height: 44px;
}
#frame_42163 {
	top: 6px;
	left: 8px;
	width: 32px;
	height: 32px;
}

#_6 {
	top: 4px;
	left: 1px;
	width: 37px;
	height: 35px;
	overflow: hidden;
	font-family: Space Grotesk;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	color:#838383;
}

#frame_18_ek1 {
	top: 0px;
	left: 96px;
	width: 48px;
	height: 44px;
}

#_7 {
	top: 10px;
	left: 9px;
	width: 37px;
	height: 35px;
	overflow: hidden;
	font-family: Space Grotesk;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	color:#838383;
}

#frame_19 {
	top: 0px;
	left: 144px;
	width: 48px;
	height: 44px;
}
#frame_42163_ek1 {
	top: 6px;
	left: 8px;
	width: 32px;
	height: 32px;
}

#_8 {
	top: 4px;
	left: 1px;
	width: 37px;
	height: 35px;
	overflow: hidden;
	font-family: Space Grotesk;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	color:#838383;
}

#frame_20 {
	top: 0px;
	left: 192px;
	width: 48px;
	height: 44px;
}

#_9 {
	top: 10px;
	left: 9px;
	width: 37px;
	height: 35px;
	overflow: hidden;
	font-family: Space Grotesk;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	color:#838383;
}

#frame_21 {
	top: 0px;
	left: 240px;
	width: 48px;
	height: 44px;
}

#_10 {
	top: 10px;
	left: 9px;
	width: 37px;
	height: 35px;
	overflow: hidden;
	font-family: Space Grotesk;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	color:#838383;
}

#frame_22 {
	top: 0px;
	left: 288px;
	width: 48px;
	height: 44px;
}

#_11 {
	top: 8.91px;
	left: 9px;
	width: 37px;
	height: 37.18px;
	overflow: hidden;
	font-family: Space Grotesk;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	color:#838383;
}

#frame_42158 {
	top: 132px;
	left: 0px;
	width: 336px;
	height: 44px;
}
#frame_23 {
	top: 0px;
	left: 0px;
	width: 48px;
	height: 44px;
}

#_12 {
	top: 10px;
	left: 9px;
	width: 37px;
	height: 35px;
	overflow: hidden;
	font-family: Space Grotesk;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	color:#838383;
}

#frame_24 {
	top: 0px;
	left: 48px;
	width: 48px;
	height: 44px;
}

#_13 {
	top: 10px;
	left: 9px;
	width: 37px;
	height: 35px;
	overflow: hidden;
	font-family: Space Grotesk;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	color:#838383;
}

#frame_25 {
	top: 0px;
	left: 96px;
	width: 48px;
	height: 44px;
}

#_14 {
	top: 10px;
	left: 9px;
	width: 37px;
	height: 35px;
	overflow: hidden;
	font-family: Space Grotesk;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	color:#838383;
}

#frame_26 {
	top: 0px;
	left: 144px;
	width: 48px;
	height: 44px;
}

#_15 {
	top: 10px;
	left: 9px;
	width: 37px;
	height: 35px;
	overflow: hidden;
	font-family: Space Grotesk;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	color:#838383;
}

#frame_27 {
	top: 0px;
	left: 192px;
	width: 48px;
	height: 44px;
}

#_16 {
	top: 10px;
	left: 9px;
	width: 37px;
	height: 35px;
	overflow: hidden;
	font-family: Space Grotesk;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	color:#838383;
}

#frame_28 {
	top: 0px;
	left: 240px;
	width: 48px;
	height: 44px;
}

#_17 {
	top: 10px;
	left: 9px;
	width: 37px;
	height: 35px;
	overflow: hidden;
	font-family: Space Grotesk;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	color:#838383;
}

#frame_29 {
	top: 0px;
	left: 288px;
	width: 48px;
	height: 44px;
}

#_18 {
	top: 8.91px;
	left: 9px;
	width: 37px;
	height: 37.18px;
	overflow: hidden;
	font-family: Space Grotesk;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	color:#838383;
}

#frame_42159 {
	top: 176px;
	left: 0px;
	width: 336px;
	height: 44px;
}
#frame_30 {
	top: 0px;
	left: 0px;
	width: 48px;
	height: 44px;
}

#_19 {
	top: 10px;
	left: 9px;
	width: 37px;
	height: 35px;
	overflow: hidden;
	font-family: Space Grotesk;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	color:#000000;
}

#frame_31 {
	top: 0px;
	left: 48px;
	width: 48px;
	height: 44px;
}

#_20 {
	top: 10px;
	left: 9px;
	width: 37px;
	height: 35px;
	overflow: hidden;
	font-family: Space Grotesk;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	color:#838383;
}

#frame_32 {
	top: 0px;
	left: 96px;
	width: 48px;
	height: 44px;
}

#_21 {
	top: 10px;
	left: 9px;
	width: 37px;
	height: 35px;
	overflow: hidden;
	font-family: Space Grotesk;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	color:#838383;
}

#frame_33 {
	top: 0px;
	left: 144px;
	width: 48px;
	height: 44px;
}

#_22 {
	top: 10px;
	left: 9px;
	width: 37px;
	height: 35px;
	overflow: hidden;
	font-family: Space Grotesk;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	color:#838383;
}

#frame_34 {
	top: 0px;
	left: 192px;
	width: 48px;
	height: 44px;
}

#_23 {
	top: 10px;
	left: 9px;
	width: 37px;
	height: 35px;
	overflow: hidden;
	font-family: Space Grotesk;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	color:#838383;
}

#frame_35 {
	top: 0px;
	left: 240px;
	width: 48px;
	height: 44px;
}

#_24 {
	top: 10px;
	left: 9px;
	width: 37px;
	height: 35px;
	overflow: hidden;
	font-family: Space Grotesk;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	color:#838383;
}

#frame_36 {
	top: 0px;
	left: 288px;
	width: 48px;
	height: 44px;
}

#_25 {
	top: 8.91px;
	left: 9px;
	width: 37px;
	height: 37.18px;
	overflow: hidden;
	font-family: Space Grotesk;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	color:#FFFAFA;
}

#frame_42160 {
	top: 220px;
	left: 0px;
	width: 336px;
	height: 44px;
}
#frame_37 {
	top: 0px;
	left: 0px;
	width: 48px;
	height: 44px;
}

#_26 {
	top: 10px;
	left: 9px;
	width: 37px;
	height: 35px;
	overflow: hidden;
	font-family: Space Grotesk;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	color:#838383;
}

#frame_38 {
	top: 0px;
	left: 48px;
	width: 48px;
	height: 44px;
}

#_27 {
	top: 10px;
	left: 9px;
	width: 37px;
	height: 35px;
	overflow: hidden;
	font-family: Space Grotesk;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	color:#838383;
}

#frame_39 {
	top: 0px;
	left: 96px;
	width: 48px;
	height: 44px;
}

#_28_ek1 {
	top: 10px;
	left: 9px;
	width: 37px;
	height: 35px;
	overflow: hidden;
	font-family: Space Grotesk;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	color:#838383;
}

#frame_40 {
	top: 0px;
	left: 144px;
	width: 48px;
	height: 44px;
}

#_29_ek1 {
	top: 10px;
	left: 9px;
	width: 37px;
	height: 35px;
	overflow: hidden;
	font-family: Space Grotesk;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	color:#838383;
}

#frame_41 {
	top: 0px;
	left: 192px;
	width: 48px;
	height: 44px;
}

#_30_ek1 {
	top: 10px;
	left: 9px;
	width: 37px;
	height: 35px;
	overflow: hidden;
	font-family: Space Grotesk;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	color:#838383;
}

#frame_42_ek1 {
	top: 0px;
	left: 240px;
	width: 48px;
	height: 44px;
}

#_31 {
	top: 10px;
	left: 9px;
	width: 37px;
	height: 35px;
	overflow: hidden;
	font-family: Space Grotesk;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	color:#838383;
}

#frame_10 {
	top: 0px;
	left: 288px;
	width: 48px;
	height: 44px;
}

#arrow_1 {
	top: 20px;
	left: 324px;
	width: 29px;
	height: 0px;
}


#arrow_2 {
	top: 20px;
	left: 7px;
	width: 29px;
	height: 0px;
}


#rectangle_10 {
	top: 0px;
	left: 0px;
	width: 360px;
	height: 84px;
	background:rgba(0,0,0,1);
}

#iconsax_linear_hambergermenu {
	top: 23px;
	left: 305px;
	width: 48px;
	height: 46px;
}

#vector {
	top: 13.42px;
	left: 6px;
	width: 36px;
	height: 19.17px;
}


#have_a_nice_day__bob {
	top: 32px;
	left: -18px;
	width: 217px;
	height: 48px;
	overflow: hidden;
	font-family: Space Grotesk;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
	color:#FFFFFF;
}


#rectangle_10_ek1 {
	top: 24px;
	left: 183px;
	width: 47px;
	height: 40px;
	border: 1px solid #000000;
	background:rgba(217,217,217,1);
}


#line_5 {
	top: 43px;
	left: 176px;
	width: 58.47px;
	height: 1px;
	
	-ms-transform:rotate(39.99deg);
	-o-transform:rotate(39.99deg);
	-webkit-transform:rotate(39.99deg);
	-moz-transform:rotate(39.99deg);
	transform:rotate(39.99deg);
	background:#000000;
}


#line_6 {
	top: 43px;
	left: 176px;
	width: 58.9px;
	height: 1px;
	
	-ms-transform:rotate(-40.18deg);
	-o-transform:rotate(-40.18deg);
	-webkit-transform:rotate(-40.18deg);
	-moz-transform:rotate(-40.18deg);
	transform:rotate(-40.18deg);
	background:#000000;
}


#monday_december__19th {
	top: 111px;
	left: 57px;
	width: 255px;
	height: 55px;
	overflow: hidden;
	font-family: Space Grotesk;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	line-height: 24px;
	color:#000000;
}



/* Add your custom CSS here */
